# Node.js
node_modules/
npm-debug.log
yarn-error.log
coverage/
.eslintcache
.env

# Gradle
.gradle/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Optional: Docker
*.tar

